.accordion > section {
  padding: 0;
}

.accordion > section > input:not(:checked) ~ .detail-leaf {
  display: none;
}

.accordion > section > input:checked ~ .detail-leaf {
  padding: 0 3rem;
}

.accordion > section > input:checked ~ .accordion-title label::after {
  transform: rotate(180deg);
}

.accordion > section > input {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

.accordion > section > .accordion-title {
  margin: 0;
  padding: 0;
}

.accordion > section > h2 label {
  display: block;
  margin: 0;
  padding: 1rem 3rem;
}

.accordion > section > input:focus-visible ~ h2 label {
  outline: var(--cdli-blue) auto 1px;
}

.js-focus-visible .accordion > section > input.focus-visible ~ h2 label {
  outline: var(--cdli-blue) auto 1px;
}

.accordion > section > .accordion-title label::after {
  content: '\f107';
  display: inline-block;
  font-family: 'fontawesome';
  font-size: 1.5rem;
  margin-left: 1rem;
  vertical-align: middle;
}
