.navbar {
  border-radius: 0;
  margin-bottom: 0;
}

#navbar-main li {
  border-bottom: 1px solid #000;
}

#navbar-main li a {
  padding: 0.5rem 1rem;
}

.navbar-logo-text {
  font-size: 1.5rem;
}

.nav-link {
  color: rgba(0, 0, 0, 1);

  &:hover {
    color: #1661ab !important;
  }
}
